﻿@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Website XML</title>
    <link rel="icon" type="image/png" href="https://www.acibadem.com.tr/obezitemerkezi/Content/images/favico.png" />
    <meta name="robots" content="noindex, nofollow">
    <meta name="googlebot" content="noindex, nofollow">
    <link href="~/Assets/app.css" rel="stylesheet" />
</head>
<body>
    <div>
        <input type="url" name="siteName" id="siteName" autofocus="" required="required" placeholder="https://www.acibadem.com.tr/obezitemerkezi/" />
        <a href="javascript:void(0);" id="startXml">Taramaya Başla</a>
        <div id="ResultArea">
            <input type="text" id="Count" style="display: none;" />
            <textarea id="Result" style="display: none;" rows="40" cols="80"></textarea>
            <a href="javascript:void(0);" id="createXml" style="display: none;">Sitemap XML İndir</a>
            <div id="loading" style="display: none;"></div>
        </div>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="~/Assets/app.js"></script>
    </div>
</body>
</html>